<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MathMaster"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Math Master"
            android:theme="@style/Theme.MathMaster"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MainMenuActivity"
            android:exported="true"
            android:label="Math Master"
            android:theme="@style/Theme.MathMaster"
            android:screenOrientation="portrait">
        </activity>

        <!-- Learn -->
        <activity
            android:name=".LearnActivity"
            android:exported="true"
            android:label="Math Master"
            android:theme="@style/Theme.MathMaster"
            android:screenOrientation="portrait">
        </activity>

        <!-- Practice -->
        <activity
            android:name=".PracticeActivity"
            android:exported="true"
            android:label="Math Master"
            android:theme="@style/Theme.MathMaster"
            android:screenOrientation="portrait">
        </activity>

        <!-- Basic -->
        <activity
            android:name=".MultiplyActivity"
            android:exported="true"
            android:label="Math Master"
            android:theme="@style/Theme.MathMaster"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MultiplyEndActivity"
            android:exported="true"
            android:label="Math Master"
            android:theme="@style/Theme.MathMaster"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".DivideActivity"
            android:exported="true"
            android:label="Math Master"
            android:theme="@style/Theme.MathMaster"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".DivideEndActivity"
            android:exported="true"
            android:label="Math Master"
            android:theme="@style/Theme.MathMaster"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".AddSubtractActivity"
            android:exported="true"
            android:label="Math Master"
            android:theme="@style/Theme.MathMaster"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".AddSubtractEndActivity"
            android:exported="true"
            android:label="Math Master"
            android:theme="@style/Theme.MathMaster"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MixedActivity"
            android:exported="true"
            android:label="Math Master"
            android:theme="@style/Theme.MathMaster"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MixedEndActivity"
            android:exported="true"
            android:label="Math Master"
            android:theme="@style/Theme.MathMaster"
            android:screenOrientation="portrait">
        </activity>

        <!-- Challenge -->
        <activity
            android:name=".ChallengeActivity"
            android:exported="true"
            android:label="Math Master"
            android:theme="@style/Theme.MathMaster"
            android:screenOrientation="portrait">
        </activity>

        <!-- Tools -->
        <activity
            android:name=".ToolsActivity"
            android:exported="true"
            android:label="Math Master"
            android:theme="@style/Theme.MathMaster"
            android:screenOrientation="portrait">
        </activity>

        <!-- Advance calculator -->
        <activity
            android:name=".FunctionChartActivity"
            android:exported="true"
            android:label="Math Master"
            android:theme="@style/Theme.MathMaster"
            android:screenOrientation="portrait">
        </activity>

        <!-- Advance calculator -->
        <activity
            android:name=".AdvancedCalculatorActivity"
            android:exported="true"
            android:label="Math Master"
            android:theme="@style/Theme.MathMaster"
            android:screenOrientation="portrait">
        </activity>

        <!-- Matrix calculator -->
        <activity
            android:name=".MatrixCalculatorActivity"
            android:exported="true"
            android:label="Math Master"
            android:theme="@style/Theme.MathMaster"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MatrixCalculatorMenuActivity"
            android:exported="true"
            android:label="Math Master"
            android:theme="@style/Theme.MathMaster"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MatrixResultActivity"
            android:exported="true"
            android:label="Math Master"
            android:theme="@style/Theme.MathMaster"
            android:screenOrientation="portrait">
        </activity>

        <!-- Statistics -->
        <activity
            android:name=".StatisticsActivity"
            android:exported="true"
            android:label="Math Master"
            android:theme="@style/Theme.MathMaster"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>